/* header section */
.header {
  background-color: var(--back-light);
}

.header__wrapper {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.header__search {
  position: absolute;
  right: 0;
  width: 26px;
  height: 26px;
}

.nav {
  display: flex;
  margin-left: 72px;
  flex-wrap: wrap;
  max-width: calc(100% - 40px - 200px);
}

.nav__link:not(:first-child) {
  margin-left: 35px;
}

.header-mobile__nav {
  display: none;
}

/* hero section */
.hero {
  background-color: var(--back-light);
}

.hero__wrapper {
  padding: 33px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__header {
  margin-bottom: 13px;
}

.hero__text-block {
  max-width: 635px;
}

.hero__desc {
  margin-bottom: 45px;
}

.hero__btn {
  width: 245px;
}

.hero__img {
  max-width: 350px;
}


/* podcast section */
.podcast {
  background-color: var(--back-gray);
  padding: 93px 0;
}

.podcast__header {
  margin-bottom: 32px;
}

.podcast__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: -2px;
}

/* p-card component */
.p-card {
  width: calc((100% - 30px) / 2);
  background-color: var(--back-light);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}

.p-card__date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 53px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--back-gray);
  color: var(--back-dark);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.p-card__picture {
  height: 100%;
}

.p-card__img {
  display: block;
  object-fit: cover;
  height: 100%;
  min-height: 140px;
  max-width: 112px;
}

.p-card__block {
  padding: 40px 30px;
  width: calc(100% - 112px);
}

.p-card__time {
  margin-bottom: 9px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-card__header {
  margin-bottom: 3px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-card__author {
  color: var(--gray-middle);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* broadcast section */
.broadcast {
  background-color: var(--back-light);
  padding: 95px 0;
}

.broadcast__wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.broadcast__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  margin-top: 13px;
  width: calc(255px * 3 + 30px * 2);
}

.broadcast__archieve {
  position: absolute;
  bottom: 0;
}

.broadcast__bottom-img {
  display: block;
  margin-bottom: 24px;
}

.broadcast__btn {
  margin-bottom: 12px;
  color: var(--back-dark);
  border-color: var(--back-dark);
  width: 160px;
  height: 40px;
}

.broadcast__desc {
  max-width: 255px;
  color: var(--gray-middle);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* b-card component */
.b-card {
  max-width: 255px;
}

.b-card__img {
  display: block;
  width: 255px;
  height: 148px;
}

.b-card__content {
  border: 1px solid var(--back-gray);
  background-color: var(--back-light);
  padding: 20px 16px 15px;
}

.b-card__header {
  margin-bottom: 3px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.b-card__desc {
  margin-bottom: 16px;
  color: var(--gray-middle);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* guest section */
.guest {
  background-color: var(--back-dark);
  color: var(--gray-middle);
  padding: 95px 0;
}

.guest__header {
  color: var(--back-light);
  margin-bottom: 10px;
}

.guest__text {
  max-width: 825px;
  margin-bottom: 7px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.guest__cards {
  margin-top: 50px;
}

/* g-card component */
.g-card {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.g-card:last-child {
  margin-bottom: 0;
}

.g-card__img {
  display: block;
  min-width: 432px;
  height: 272px;
}

.g-card__content {
  max-width: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.g-card__header {
  margin-bottom: 9px;
  color: var(--back-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.g-card__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%
}

.g-card__btn {
  width: 160px;
  height: 40px;
  padding: 12px 15px;
}

/* playlist section */
.playlist {
  background-color: var(--back-light);
  padding: 95px 0;
}

.playlist__wrapper {
  display: flex;
  justify-content: space-between;
}

.playlist__left {
  width: 350px;
}

.playlist__header {
  margin-bottom: 10px;
}

.playlist__desc {
  color: var(--gray-middle);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.playlist__copywr {
  margin-bottom: 5px;
  color: var(--gray-middle);
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
}

.playlist__age {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray-middle);
  border-radius: 100%;
  color: var(--gray-middle);
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.playlist__cards {
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: calc(160px * 4 + 30px * 3);
}

/* pl-card component */
.pl-card__img {
  display: block;
  width: 160px;
  height: 160px;
}

.pl-card__block {
  padding: 16px;
  max-width: 160px;
  border: 1px solid var(--back-gray);
}

.pl-card__header {
  margin-bottom: 2px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pl-card__desc {
  color: var(--gray-middle);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* onewave section */
.onewave {
  background-color: var(--back-darker);
  padding: 95px 0 132px;
}

.onewave__wrapper {
  display: flex;
  gap: 30px;
}

.onewave__img {
  width: 640px;
}

.onewave__content {
  width: 445px;
}

.onewave__header {
  color: var(--beige-light);
  margin-bottom: 48px;
  position: relative;
}

/* .onewave__spiral {
  display: block;
  margin-bottom: 12px;
} */

.onewave__header::after {
  position: absolute;
  content: "";
  bottom: -28px;
  left: 0;
  height: 12px;
  width: 100%;
  background-repeat: repeat-x;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='12' viewBox='0 0 256 12' fill='none'%3E%3Cpath d='M1 1C8.941 1 8.941 11 16.882 11C24.823 11 24.823 1 32.764 1C40.705 1 40.705 11 48.6274 11C56.5686 11 56.5686 1 64.4908 1C72.432 1 72.432 11 80.3541 11C88.2953 11 88.2953 1 96.2359 1C104.177 1 104.177 11 112.118 11C120.059 11 120.059 1 128 1C135.941 1 135.941 11 143.882 11C151.823 11 151.823 1 159.764 1C167.705 1 167.705 11 175.646 11C183.587 11 183.587 1 191.528 1C199.469 1 199.469 11 207.392 11C215.333 11 215.333 1 223.255 1C231.196 1 231.196 11 239.118 11C247.059 11 247.059 1 255 1' stroke='%23A1A6B4' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E");
}

.onewave__text {
  margin-bottom: 12px;
  color: var(--back-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.onewave__price {
  margin: 26px 0 30px;
  color: var(--back-light);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.onewave__btn {
  width: 300px;
  height: 70px;

}

/* about section */
.about {
  background-color: var(--back-dark);
  padding: 95px 0 88px;
  color: var(--gray-middle);
}

.about__content {
  display: flex;
  align-items: start;
  gap: 30px;
}

.about__desc {
  max-width: 634px;
  position: relative;
}

.about__desc::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 660px;
  width: 450px;
  height: 100%;
  background-image: url('../img/about__pic1920.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about__header {
  color: var(--back-light);
  margin-bottom: 12px;
}

.about__text {
  margin-bottom: 6px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* .about__img1 {
  display: block;
}

.about__img2 {
  display: block;
  margin-top: 18px;
} */

.about__cards {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px;
}

.about__form {
  margin-top: 30px;
}

/* a-card component */
.a-card {
  max-width: 255px;
  min-width: 255px;
}

.a-card__img {
  width: 255px;
}

.a-card__header {
  margin: 23px 0 7px;
  color: var(--back-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.a-card__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

/* a-form component */
.a-form {
  max-width: 920px;
}

.a-form__textarea {
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
  border-radius: 28px;
  padding: 30px 32px;
}

.a-form__fields {
  display: flex;
  gap: 30px;
}

.a-form__btn {
  margin: 30px 0 26px;
  width: 212px;
  height: 70px;
}

.a-form__label {
  color: var(--back-light);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 15px;
  padding-left: 6px;
  position: relative;
  cursor: pointer;
}

.a-form-checkbox {
  opacity: 0;
  margin: 0;
}

.a-form-checkbox+span {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1.5px solid var(--back-light);
  text-align: center;
  transition: border-color 300ms ease-in-out;
}

.a-form-checkbox+span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.00001 4.61764L1.87869 2.49632L0.464478 3.91053L4.00001 7.44607L9.65687 1.78921L8.24265 0.375L4.00001 4.61764Z' fill='%23AA9DFA'/%3E%3C/svg%3E");
}

.a-form-checkbox:checked+span::before {
  opacity: 1;
}

.a-form-checkbox:checked+span,
.a-form-checkbox:focus+span,
.a-form-checkbox:hover+span,
.a-form-checkbox:active+span {
  border: 1.5px solid var(--back-light);
}

/* footer section */
.footer {
  background-color: var(--back-darker);
  padding: 90px 0 10px;
  background-position: 0 88%;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='320' height='12' viewBox='0 0 320 12' fill='none'%3E%3Cpath opacity='0.6' d='M0 11C8.004 11 8.00398 1 15.9887 1C23.9927 1 23.9927 11 31.9775 11C39.9814 11 39.9814 1 47.9847 1C55.9887 1 55.9887 11 63.9926 11C71.9964 11 71.9964 1 80.0001 1C88.0039 1 88.0039 11 96.0076 11C104.011 11 104.011 1 111.996 1C120 1 120 11 127.985 11C135.989 11 135.989 1 143.974 1C151.978 1 151.978 11 159.981 11C167.985 11 167.985 1 175.989 1C183.992 1 183.992 11 191.996 11C200 11 200 1 208.004 1C216.008 1 216.008 11 224.011 11C232.015 11 232.015 1 240.019 1C248.023 1 248.023 11 256.027 11C264.03 11 264.03 1 272.015 1C280.019 1 280.019 11 288.004 11C296.008 11 296.008 1 303.993 1C311.997 1 311.997 11 320 11' stroke='%23F5F6F7' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E");
}

.footer__wrapper {
  margin-bottom: 111px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  padding-top: 3px;
}

.footer__social-list {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.footer__social-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer__nav {
  margin-right: 18px;
  columns: 3;
  column-gap: 30px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* gap: 12px;
  max-height: 98px;
  align-items: start; */
}

.footer__link {
  display: block;
  margin-left: 109px;
  margin-bottom: 20px;
  /* margin-right: 92px; */
  color: var(--back-light);
  padding-left: 0;
}

.footer__link--no-margin {
  margin-right: 0;
}

.footer__copywr {
  text-align: center;
  color: var(--gray-middle);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 103.336%;
}
